.form {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 32px;
  }


table {
    border-collapse: collapse;
  }
  
  th,
  td {
    border: 1px solid black;
    padding: 10px 15px;
  }
  .modal-label{
 
font-style: normal;
font-weight: 400;
line-height: 1.17em;
letter-spacing: 0.48px;
display: block; 
margin-bottom: 4px; 

  } 

  .modal-input {
    height: 30px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 34px;
    padding-left: 38px; 
    
  }  